
obj/AmiaReforged.Classes.csproj.nuget.dgspec.json
obj/AmiaReforged.Classes.csproj.nuget.g.props
obj/AmiaReforged.Classes.csproj.nuget.g.targets
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/AmiaReforged.Classes.AssemblyInfo.cs
obj/Debug/net7.0/AmiaReforged.Classes.AssemblyInfoInputs.cache
obj/Debug/net7.0/AmiaReforged.Classes.assets.cache
obj/Debug/net7.0/AmiaReforged.Classes.csproj.AssemblyReference.cache
obj/Debug/net7.0/AmiaReforged.Classes.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/AmiaReforged.Classes.GlobalUsings.g.cs
obj/project.assets.json
obj/project.nuget.cache
.idea/.idea.AmiaReforged.Classes.dir/.idea/encodings.xml
.idea/.idea.AmiaReforged.Classes.dir/.idea/indexLayout.xml
.idea/.idea.AmiaReforged.Classes.dir/.idea/vcs.xml
obj/project.packagespec.json
obj/rider.project.model.nuget.info
obj/rider.project.restore.info
*.xml
Folder.DotSettings.user
AmiaReforged.Classes/obj/AmiaReforged.Classes.csproj.nuget.dgspec.json
AmiaReforged.Classes/obj/AmiaReforged.Classes.csproj.nuget.g.props
AmiaReforged.Classes/obj/AmiaReforged.Classes.csproj.nuget.g.targets
AmiaReforged.Classes/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
AmiaReforged.Classes/obj/Debug/net7.0/AmiaReforged.Classes.AssemblyInfo.cs
AmiaReforged.Classes/obj/Debug/net7.0/AmiaReforged.Classes.AssemblyInfoInputs.cache
AmiaReforged.Classes/obj/Debug/net7.0/AmiaReforged.Classes.assets.cache
AmiaReforged.Classes/obj/Debug/net7.0/AmiaReforged.Classes.csproj.AssemblyReference.cache
AmiaReforged.Classes/obj/Debug/net7.0/AmiaReforged.Classes.GeneratedMSBuildEditorConfig.editorconfig
AmiaReforged.Classes/obj/Debug/net7.0/AmiaReforged.Classes.GlobalUsings.g.cs
AmiaReforged.Classes/obj/project.assets.json
AmiaReforged.Classes/obj/project.nuget.cache
AmiaReforged.Classes/obj/project.packagespec.json
AmiaReforged.Classes/obj/rider.project.restore.info
AmiaReforged.Classes/obj/rider.project.model.nuget.info
AmiaReforged.Classes/.idea/.idea.AmiaReforged.dir/.idea/.name
